<template>
  <div>
    <CourseCard :title="course.name" :description="course.description"/>
    <div style="margin-top: 20px">Mentors</div>
    <CourseCard
      v-for="mentor in course.mentors" :key="mentor.id" :title="mentor.name" :description="course.description"/>
    <form @submit.prevent="register">
      <div>Register</div>
      <label for="name">Name
        <br>
        <input name="name" id="name" type="text" v-model="inputName">
        <br>
      </label>
      <label for="email">Email
        <br>
        <input id="email" type="email" v-model="inputEmail">
        <br>
      </label>
      <button style="margin-top: 10px" type="submit">Submit</button>
    </form>
  </div>
</template>

<script lang="ts">

import { defineComponent, ref } from 'vue';
import { useRoute } from 'vue-router';
import { getCourse, registerCourse } from '@/api/api';
import { WrapperMentors, ResponseErr } from '@/api/models';
import CourseCard from '@/components/CourseCard.vue';

export default defineComponent({
  name: 'CourseView',
  components: { CourseCard },
  setup() {
    const route = useRoute();

    const course = ref({} as WrapperMentors);

    const inputName = ref('');
    const inputEmail = ref('');

    const id: number = +route.params.id;
    getCourse(id)
      .then((response) => {
        course.value = response.data;
      })
      .catch((err) => {
        const responseErr: ResponseErr = err.data;
        console.error(responseErr);
      });

    function register() {
      registerCourse(id, inputName.value, inputEmail.value)
        .then((response) => {
          alert(response.data.message);
        })
        .catch((err) => {
          const responseErr: ResponseErr = err.response.data;
          alert(responseErr.message);
        });
    }

    return {
      course,
      inputName,
      inputEmail,
      register,
    };
  },
});
</script>

<style scoped lang="sass">
form
  border: black solid

</style>
