<template>
  <div>
    <CourseCard v-for="course in courses" :key="course.id" @click="clickCard(1)" :title="course.name" description="Lorem ipsum dolor sit elit."/>
  </div>
</template>

<script lang="ts">

import { defineComponent, ref } from 'vue';
import { getCourses } from '@/api/api';
import { Course, ResponseErr } from '@/api/models';
import { useRouter } from 'vue-router';
import CourseCard from '@/components/CourseCard.vue';

export default defineComponent({
  name: 'CoursesView',
  components: { CourseCard },
  setup() {
    const courses = ref([] as Course[]);
    const router = useRouter();

    getCourses().then((response) => {
      console.log(response.data.items);
      courses.value = response.data.items;
    }).catch((e) => {
      const responseErr: ResponseErr = e.response.data;
      console.error(responseErr);
    });

    return {
      courses,
      clickCard(id: number): void {
        router.push({
          name: 'course',
          params: {
            id,
          },
        });
      },
    };
  },
});
</script>
