<template>
  <div id="course">
    <div style="font-weight: bold">{{title}}</div>
    <div>{{description}}</div>
  </div>
</template>
<script lang="ts">

import { defineComponent } from 'vue';

export default defineComponent({
  name: 'CourseCard',
  props: {
    title: String,
    description: String,
  },
});
</script>

<style lang="sass">
  div
    text-align: left
</style>
